<div id="categorias">
    <%= link_to "/listar/shopping" do %>
        <h3>Shoppings</h3>
        <%= image_tag('shoppings.jpg') %>
    <% end %>
    <%= link_to "/listar/restaurante" do %>
        <h3>Restaurantes</h3>
        <%= image_tag('restaurantes.jpg') %>
    <% end %>
    <%= link_to "/listar/evento" do %>
        <h3>Eventos</h3>
        <%= image_tag('eventos.jpg') %>
    <% end %>
    <%= link_to "/listar/academia" do %>
        <h3>Academias</h3>
        <%= image_tag('academias.jpg') %>
    <% end %>
    <%= link_to "/listar/hotel" do %>
        <h3>Hotéis</h3>
        <%= image_tag('hoteis.jpg') %>
    <% end %>
    <%= link_to "/listar/balada" do %>
        <h3>Baladas</h3>
        <%= image_tag('baladas.jpg') %>
    <% end %>
    <%= link_to "/listar" do %>
        <h3>Todos</h3>
        <%= image_tag('shoppings.jpg') %>
    <% end %>
</div>