<div id="categorias">
    <%= link_to "/listar/shopping" do %>
        <h3>Shoppings</h3>
        <%= image_tag('shoppings') %>
    <% end %>
    <%= link_to "/listar/restaurante" do %>
        <h3>Restaurantes</h3>
        <%= image_tag('restaurantes') %>
    <% end %>
    <%= link_to "/listar/evento" do %>
        <h3>Eventos</h3>
        <%= image_tag('eventos') %>
    <% end %>
    <%= link_to "/listar/academia" do %>
        <h3>Academias</h3>
        <%= image_tag('academias') %>
    <% end %>
    <%= link_to "/listar/hotel" do %>
        <h3>Hotéis</h3>
        <%= image_tag('hoteis') %>
    <% end %>
    <%= link_to "/listar/balada" do %>
        <h3>Baladas</h3>
        <%= image_tag('baladas') %>
    <% end %>
    <%= link_to "/listar" do %>
        <h3>Todos</h3>
        <%= image_tag('shoppings') %>
    <% end %>
</div>